/* *{
    box-sizing: border-box;
    
} */

@import './header.css';
@import './main.css';
@import './footer.css';

body{
    position: relative; 
    text-align: center ;
    background-color: white;
    font-size: 16px;
    margin: 0;
    padding: 0;
    
    
}

/* Google Icon Class CSS */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48;

    font-size:2rem;
    transition: 0.5s;

    color: white;


  }
  .material-symbols-outlined:hover{
      transform:scale(1.5,1.5);
      transition: 0.15s;
  }