.header{

    height: 198px;
    width: 100%;
    /* width: 1024px; */
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid purple; */

}

.banner {
    position: relative; 
    width: 1024px;
    
    text-align: center;
    min-width: 60%;
    justify-content: center;
    align-items: center;
    /* display: flex; */
    /* border: 1px solid skyblue; */
}
.logo {
    width: auto;
    height: 156px;
    position: absolute;
    /* transform: translate(200%, 12%); */

    left: 25px;
    top: 0;
}

.banner_top {
    text-align: right;
    /* transform: translate(73%, 85%); */
    /* justify-content:right; */


}
.banner_middle {

}
.banner_bottom {
    /* transform: translate(0%, 300%); */
    margin-top: 125px;
}



.navbar {
    display: flex;
    justify-content: center;
    align-content: center;

}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 40%;
    /* border: 1px solid red; */
}
.navbar-nav li{
    width: 150px;
    height : 30px;
}
.nav-item {
    display: inline-block;
    position: relative;
    top: 0;
    /* border: 1px solid orange; */
  }

.nav-link {
    display: block;
    /* padding: 10px; */
    text-decoration: none;
    color: white;
    width: 150px;   
    /* border: 1px solid yellow; */
}

.nav-item:hover .dropdown-menu {
    display: block;
  }

  
.dropdown-menu {
    background-color: black;
    display:none;
    position: absolute;
    top : 30px;
    left: 0;
    text-align: center;
    /* padding: 10px; */
    width: 150px; 
    /* z-index: 1; */
    /* transform: translate(-38%, -20%); */
    /* border: 1px solid green; */
  }
  
  .dropdown-item {
    width: 150px; 
    color: white;
    display: block;
    padding: 5px 0;
    padding-top: 10px 0;
    text-decoration: none;
  }