.banner {
    position: relative; /* 부모 요소에 position 속성을 지정해야 자식 요소에게 margin을 적용할 수 있음 */
    height: 198px; /* 화면 전체를 차지하는 높이 */
    width: 100%;
    background-color: black;
}
.logo {
    width: auto;
    height: 156px;
    position: absolute;
    transform: translate(200%, 12%);
}

.banner_top {
    transform: translate(73%, 85%);
}
.banner_middle {
    transform: translate(50%, 320%);
}
.banner_bottom {
    transform: translate(0%, 320%);
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 40%;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}