*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:black;
}





.menu{
    width: 1024px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}
.depth1{
    justify-content: space-evenly;
    display: flex;
    width: 120px;
    height: 30px;
    border: 1px solid red;
}
.depth1>.depth1-dropdownmenu{
    width: 120px;
    position: relative;
    border: 1px solid orange;
}
.depth1>.depth1-dropdownmenu:hover .depth2{
    display: block;
}



.depth2{
    display: none;
    position: absolute;
    width: 120px;
    height: 30px;
    border: 1px solid yellow;
}
.depth2>.depth2-dropdownmenu{
    position: relative;
    width: 120px;
    height: 30px;
    border: 1px solid yellowgreen;
}
.depth2>.depth2-dropdownmenu:hover .depth3{
    display: block;
}



.depth3{
    display: none;
    position: absolute;
    width: 120px;
    height: 30px;
    border: 1px solid green;
}
.depth3>.depth3-dropdownmenu{
    
    position: relative;
    width: 120px;
    height: 30px;
    border: 1px solid blue;
}